@model MvcConcesionaria.Models.Venta

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Venta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NroFactura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NroFactura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorVehiculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorVehiculo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntregaCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntregaCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormadePago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormadePago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vehiculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vehiculo.Color)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
